* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    color: #ededed;
    background-color: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: #051129;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight .5s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: color 0.3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2
    s * var(--i));
}

.navbar a:hover {
    color: aqua;
}

.home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 100px 70px;
    background: url(img/Untitled-3.gif);
}

.home-content h1 {
    font-size: 50px;
    color: #fff;
}

.home-content p {
    font-size: 18px;
    color: #fff;
    max-width: 600px;
}
.home-content{
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    quotes: 0;
    animation: slidbotton 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px ;
}
.home-content h3 samp{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: 3px 0;
    animation: slidbotton 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 20px;
    quotes: 0;
    animation: slidLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-scl a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transform: .5s ease;
    opacity: 1;
    animation: slideIcon 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.home-scl a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px;
}

.btn-box{
    display: inline-flex;
    padding: 12px 12px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
    box-shadow: 0 0 5px #0ef ,
     0 0 25px #0ef;


}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan ;

}


.About{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 1.5rem;

} 
.about-img img{
    padding-bottom: 20px;
     max-width: 630px;
     height: auto;
     width: 100%;
     border-radius: 8px;
}
.about-text h2{
    font-size: 60px;

}
.about-text h2 samp{
    color: #0ef;
}

.about-text h4{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

}

#service{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.5;
    margin: 4rem;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
color: #0ef;
}
.container{
    padding: 90px;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,mlnmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.service-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-style: 13px
    ;
    border-right: 10px;
    border-radius: 20px;
    transform: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 48px #0053b8f7;

}

.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;


}
.service-list div p{
    font-size: 20px;
}
.service-list div a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;

}
.read{
  display: inline-block; 
   padding: 12px;
   background: #0ef;
   border-radius: 40px;
   font-size: 16px;
   color: #081b29;
   letter-spacing: 1px;
   text-decoration: none;
   font-weight: 600;
   opacity: 0;
   animation: slideTop 1s ease forwards ;
   animation-delay: 2s;
   box-shadow: 0 0 5px #0ef,
   0 0 25px #0ef;
}
.read:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px;
}

.service-list div:hover{
    transform: translate(-100px);
}

section{
    display: flex;
    flex-wrap: wrap;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px
    ;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
























@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slidLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slidbotton{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideIcon{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(1px);
        opacity: 1;
    }
}